<!DOCTYPE html>
<html lang="en" style="height: 100%; max-height: 100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>StudiSwipe</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="client-code.js"></script>
    <% if (tab != "account" && tab != "swipe" && tab != "chat") { %>
        <script>
            location.search = "?tab=account"
        </script>
        <% } %>
</head>

<body style="display: flex; flex-flow: column; height: 100%; user-select: none;">
    <%- include('components/header') %>
        <div style="display: flex; flex-flow: row; flex: 0 1;">
            <a class="w3-button w3-block w3-theme-l3 <%if(tab=="account"){%>w3-theme<%}%> w3-hover-theme w3-third" href="?tab=account">Account</a>
            <a class="w3-button w3-block w3-theme-l3 <%if(tab=="swipe"){%>w3-theme<%}%> w3-hover-theme w3-third" href="?tab=swipe">Swipe</a>
            <a class="w3-button w3-block w3-theme-l3 <%if(tab=="chat"){%>w3-theme<%}%> w3-hover-theme w3-third" href="?tab=chat">Matches</a>
        </div>
        <div class="w3-padding" style="height: inherit; overflow-y: scroll;">
            <% if (tab=="account" ) { %>
                <div class="w3-padding-large" style="height: 100%;">
                    <%- include('components/account') %>
                </div>
            <% } %>

            <% if (tab=="swipe" ) { %>
                <div class="w3-padding-large" style="height: 100%;">
                    <%- include('components/swipe') %>
                </div>
            <% } %>
            
            <% if (tab=="chat" ) { %>
                <div class="w3-padding-large" style="height: 100%;">
                    <%- include('components/matches') %>
                </div>
            <% } %>
        </div>
        <%- include('components/chat') %>
</body>

<script>

    function tab(t) {
        document.getElementById("btn_acc").classList.remove("w3-theme")
        document.getElementById("tab_acc").classList.add("w3-hide")

        document.getElementById("btn_swipe").classList.remove("w3-theme")
        document.getElementById("tab_swipe").classList.add("w3-hide")

        document.getElementById("btn_chat").classList.remove("w3-theme")
        document.getElementById("tab_chat").classList.add("w3-hide")

        document.getElementById("btn_" + t).classList.add("w3-theme")
        document.getElementById("tab_" + t).classList.remove("w3-hide")
    }
</script>

</html>